img {
    max-width: 100%;
    display: block;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: rgba(100, 100, 100, 1);
}

h2, p {
    margin: 15px; 
    text-align: center;
    margin-top: 15px;
}

h1 {
    text-align: center;
}

form {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.agent, .map {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    text-align: center;
}

.agent img, .map img {
    max-width: 150px; 
    display: block;
    margin: 0 auto 10px; 
}

.agent h2, .map h2 {
    margin-top: 0; 
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

input[type="text"] {
    margin: 10px;
    width: 200px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.error {
    color: #b81414;
    font-weight: bold;
}
